/* MAGNO, KATHERINE D. || BSIT 3-1 || HOME ACTIVITY #2 || IAS1 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ADDCBC;
    margin: 0;
}

.container {
    max-width: 600px;
    min-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #5F875A; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

h1{
    text-align: center;
    color: #fdd5ee;
    margin-bottom: 0;
}

h4{
    text-align:center;
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h6{
    text-align: center;
    color: #ffffff;
    margin-top: 5px;
}

label{
    color: #ffffff;
    text-align: center;
}

input[type="password"]{
    color: #f75c9d;
    background-color: rgb(247, 238, 226);
    border: none;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 0;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

.redirect{
    text-align: center;
    padding: 10px 15px;
    color: #f75c9d;
    background-color: rgb(247, 238, 226);
    border-radius: 15px;
    border: none;
    margin-left: 95px;
    margin-right: 95px;
}

.redirect:hover{
    background-color: bisque;
    cursor: pointer;
}

.redirectno:hover{
    cursor: pointer;
    color: bisque;
}

.redirect1{
    text-align: center;
    padding: 5px;
    color: #f75c9d;
    background-color: rgb(247, 238, 226);
    border-radius: 15px;
    border: none;
    margin-inline: 85px;
    margin-left: 80px;
    margin-right: 80px;
}

.redirect1:hover{
    background-color: bisque;
    cursor: pointer;
}

.gif{
    border-radius: 10px;
    width: 350px;
    height: auto;
}

.gif2 {
    border-radius: 10px;
    width: 150px;
    height: auto;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif-container2 {
    display: flex;
    position: absolute;
    top: 70%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    row-gap: 40px;
    column-gap: 40px;
    margin: 0 auto;
}

.grid-item {
    width: 150px;
    height: 150px;
    background-color: rgb(247, 238, 226);
    cursor: pointer;
    border-radius: 5px;
    background-size: cover; 
    background-position: center; 
}
